.mobile-transactions {
  width: 100%;
  max-height: 510px;
  grid-area: rightSider;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.mobile-transactions::-webkit-scrollbar {
  display: none;
}
.mobile-transactions .title {
  font-family: var(--h2);
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--bg);
  text-transform: capitalize;
}
.mobile-transactions .transactions {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}
.mobile-transactions .transactions::-webkit-scrollbar {
  display: none;
}
