.transactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transactions h2 {
  text-transform: capitalize;
  font-family: var(--h1);
  color: var(--bg);
}
.transactions .transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 5px;
}
.transactions .transaction-container::-webkit-scrollbar {
  display: none;
}
.transactions .transaction-card:hover, .current {
  background: var(--bg);
  color: var(--primary-text);
}
