.help {
  width: 95%;
  height: 95%;
  background: var(--glass-effect);
  backdrop-filter: blur(var(--glass-blur));
  border-radius: 20px;
  box-shadow: 0px 0px 2px var(--bg);
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
